<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzy.mapper.UserMapper">
    <resultMap id="UserMap" type="com.hzy.pojo.User">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
    </resultMap>
    
    <select id="getUserList" resultMap="UserMap">
            select * from user
    </select>

    <select id="getUserById" parameterType="int" resultType="com.hzy.pojo.User">
        select username, password from user where id = #{id}
    </select>

    <select id="getUserByNameAndPassword" resultType="com.hzy.pojo.User">
        select id,username,password from user where username = #{username} and password = #{password}
    </select>

    <insert id="addUser" parameterType="com.hzy.pojo.User">
        insert into user(username,pwd) values (#{username}, #{password})
    </insert>

</mapper>