<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzy.mapper.StudentMapper">
    <resultMap id="studentTeacher" type="com.hzy.pojo.Student">
        <result property="id" column="id"/>
        <result property="studentName" column="student_name"/>
        <association property="teacher" javaType="com.hzy.pojo.Teacher">
            <result property="teacherName" column="teacher_name"/>
        </association>
    </resultMap>
    <select id="findAllStudent" resultMap="studentTeacher">
        SELECT s.id,s.student_name,t.teacher_name FROM student s,teacher t
    </select>
</mapper>